@model IEnumerable<DataLayer.Models.TransactionHistory>

@{
    ViewData["Title"] = "ViewTransactHist";
    Layout = "~/Views/Shared/_AdminLogoutLayout.cshtml";
}

@*<h1>ViewTransactHist</h1>


<form asp-action="ViewTransactHist">
    <div class="form-outline mb-4">
        <input type="date" name="Date1" />
        <input type="date" name="Date2" />
    </div>
    <div class="form-outline mb-4">
        <button type="submit">Submit</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acc.AccId)
                </td>
            </tr>
        }
    </tbody>
</table>*@

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        body {
            background: linear-gradient(270deg, #ddd6f3, #faaca8);
        }
    </style>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style=" background-color: #1ba6c6; text-align: center; margin-top: 15px; height: 50px; border-radius: 15px;">
        <h3>Transaction History</h3>
    </div>

    <div class="container" style="margin-top: 50px; margin-bottom:150px;">
        <form asp-action="ViewTransactHist">
            <div class="row">
                <div class="col-4" style="width:315px;">
                    <div class="form-outline mb-4">
                        <table>
                            <tr style="text-align: center;">
                                <td>
                                    <h5>From</h5>
                                </td>
                                <td>
                                    <h5>To</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <input type="date" name="Date1" style="border-radius:5px; border:1px solid black" />

                                </td>

                                <td>

                                    <input type="date" name="Date2" style="border-radius: 5px; border: 1px solid black" />


                                </td>

                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-outline mb-4">
                        <button style="margin-top: 32px;" class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>

            </div>

        </form>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-primary" style="text-align: center;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Receiver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Acc)
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody style="text-align: center;" class="table-secondary">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Acc.AccId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
