@model DataLayer.Models.AccountDetail

@{
    ViewData["Title"] = "Transact";
    Layout = "~/Views/Shared/_EmployeeLogoutLayout.cshtml";
}

@*<h1>Transact</h1>

<div>
    <h4>AccountDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Withdraw" asp-route-id="@Model.AccId">Withdraw</a> |
    <a asp-action="Deposit" asp-route-id="@Model.AccId">Deposit</a> |
    <a asp-action="TransferFunds" asp-route-id="@Model.AccId">Transfer Funds</a> |
    <a asp-action="AddBnf" asp-route-id="@Model.AccId">Add Beneficiary</a> |
    <a asp-action="TransactHist" asp-route-id="@Model.AccId">Transaction History</a>
</div>*@

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <style>
        body {
            background: linear-gradient(270deg, #ad9ee5, #faaca8);
        }

        button {
            display: flex;
        }
    </style>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="background: #1ba6c6; border-radius: 15px; text-align: center; margin-top: 15px; height: 50px; "><h3>Transact</h3></div>
    <div class="container" style="margin-top: 50px;">
        <table class="table table-bordered table-striped table-hover">

            <tbody style="text-align: center;" class="table-secondary">
                <tr class="row">

                    <td class="col-6"><h5>@Html.DisplayNameFor(model => model.AccId)</h5></td>
                    <td class="col-6"><h5>@Html.DisplayFor(model => model.AccId)</h5></td>

                </tr>
                <tr class="row">

                    <td class="col-6"><h5>@Html.DisplayNameFor(model => model.Balance)</h5></td>
                    <td class="col-6"><h5>@Html.DisplayFor(model => model.Balance)</h5></td>

                </tr>
                <tr class="row">

                    <td class="col-6"><h5>@Html.DisplayNameFor(model => model.Status)</h5></td>
                    <td class="col-6"><h5>@Html.DisplayFor(model => model.Status)</h5></td>

                </tr>
                
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center" style="margin-top:30px;"> 
            <a asp-action="Withdraw" asp-route-id="@Model.AccId" class="btn btn-primary" style="margin-right:5px;">Withdraw</a>
            <a asp-action="Deposit" asp-route-id="@Model.AccId" class="btn btn-success" style="margin-left:5px;margin-right:5px;">Deposit</a>
            <a asp-action="TransferFunds" asp-route-id="@Model.AccId" class="btn btn-warning" style="margin-left:5px;margin-right:5px;">Transfer Funds</a>
            <a asp-action="AddBnf" asp-route-id="@Model.AccId" class="btn btn-info" style="margin-left:5px;margin-right:5px;">Add Beneficiary</a>
            <a asp-action="TransactHist" asp-route-id="@Model.AccId" class="btn btn-secondary" style="margin-left: 5px; margin-right: 5px;">Transaction History</a>
            <a asp-action="ViewAllUser" class="btn btn-light" style="margin-left:5px;">Back</a>
        </div>
    </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
